/*==================================================================================
    Custom Stylesheet (Any custom styling you want to apply should be defined here).
====================================================================================*/

.modal-window-container.fancy.window-show {
    display: none;
}

.slidenav.left-side.catagory-menu.active .container {
    max-width: 100% !important;
}

.slidenav.left-side.catagory-menu.active .offset-lg-1 {
    margin-left: 0 !important;
}

@media screen and (max-width: 1400px) {
    .main-header-wraper.main-header.inner-page-header .col-6.col-sm-6.col-md-6.col-lg-7.col-xl-6 {
        padding: 0;
        margin: 0;
    }

    .slidenav.left-side.catagory-menu.active .catagory-menu-wrap ul li ul:before {
        right: -12%;
    }
}

@media screen and (max-width: 1280px) {
    .slidenav.left-side.catagory-menu.active .catagory-menu-wrap ul > li.parent-li {
        width: 24%;
    }

    .slidenav.left-side.catagory-menu.active li.parent-li.second-row {
        top: 440px;
    }
}

@media screen and (max-width: 576px) {
    .slidenav.left-side.catagory-menu.active li.parent-li.second-row {
        top: 0px;
    }

    .slidenav.left-side.catagory-menu.active .catagory-menu-wrap ul > li.parent-li {
        width: 100%;
    }
}


.banner-slider3 .dress-image img {
    width: 95px !important;
    height: 100px !important;
    object-fit: cover !important;
}

.featured-item-image img {
    width: 540px;
    height: 240px;
    object-fit: cover;
}

.product-image a img {
    width: 255px;
    height: 350px;
    object-fit: cover;
}

.shop-product-slider-wrap img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.single-item-left img {
    margin-right: 30px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

tr.woocommerce-cart-form__cart-item.cart_item img {
    object-fit: cover;
    width: 90px;
    height: 90px;
}