{% extends "header.html" %}
{% block body %}

  <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Who We Are<span></span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">About Us</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- about us  -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <!-- about us intro -->
                    <div class="about-us-intro text-center">
                        <!-- intro heading -->
                        <div class="intro-heading">
                            <h2>“Find what you need in seconds,Shop with us because we’re worth it”<br>“You deserve the best.”</h2>
                        </div>
                        <!-- intro heading -->

                        <!-- intro text -->
                        <div class="intro-text-inner">
                            <p>We strive to offer our customers the lowest possible prices, the best
                                available selection, and the utmost convenience. Vision statement:
                                To be Earth's most customer-centric company,
                                where customers can find and discover anything they might want to buy online.</p>
                        </div>
                        <!--End of intro text -->
                    </div>
                    <!-- about us intro -->
                </div>
                <div class="col-12">
                    <!-- about image inner -->
                    <div class="about-image-inner type2">
                        <div class="row">
                            <div class="col-sm-6 about-image img1">
                                <!-- about image -->
                                    <img src="static/assets/img/about-img1.png" data-rjs="2" alt="">
                                <!-- End of about image -->
                            </div>
                            <div class="col-sm-5 offset-sm-1 about-image img2">
                                <!-- about image -->
                                    <img src="static/assets/img/about-img2.png" data-rjs="2" alt="">
                                <!-- End of about image -->
                            </div>
                            <div class="col-sm-5 offset-sm-5 about-image img3">
                                <!-- about image -->
                                    <img src="static/assets/img/about-img3.jpg" data-rjs="2" alt="">
                                <!-- End of about image -->
                            </div>
                        </div>
                    </div>
                    <!-- End of about image inner -->
                </div>
                <div class="col-12">
                    <!-- our goal inner -->
                    <div class="about-our-goal">
                        <div class="row">
                            <div class="col-md-6">
                                <!-- About Our Mision -->
                                <div class="about-our-mision-inner">
                                    <h2>Our Mision:</h2>
                                    <p>Offer a wide range of well-designed, functional home furnishing products at prices
                                        so low that as many people as possible will be able to afford them.</p>
                                    <p>Note the use of the words, “wide range,” “well-designed,” “functional,” and “prices so low.” If you’ve ever been to
                                        Hazel you’ll know how well they’ve managed to embody these attributes..</p>
                                </div>
                                <!--End of About Our Mision -->
                            </div>
                            <div class="col-md-6">
                                <!-- about our principles -->
                                <div class="about-our-principles-inner">
                                    <h2>Our Principles:</h2>
                                    <p>To give everyone the power to create and share ideas and information instantly, without barriers.” “To reimagine commerce in ways that build a more fulfilling and lasting world. We are building a human,
                                        authentic and community-centric global and local marketplace.</p>
                                    <ul class="mb-0 list-unstyled principle-list">
                                        <li>Chase the vision, not the money; the money will end up following you.</li>
                                        <li>Are satisfied and know how to operate our products.</li>
                                        <li>An extensive and varied international customer base.</li>
                                    </ul>
                                </div>
                                <!-- End of about our principles -->
                            </div>
                        </div>
                    </div>
                    <!-- End of our goal inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of about us  -->

    <!-- about ceo -->
    <section class="pb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <!-- about ceo image -->
                    <div class="about-ceo-image">
                        <img src="static/assets/img/umar.jpg" data-rjs="2" alt="">
                    </div>
                    <!-- End of about ceo image -->
                </div>
                <div class="col-md-8">
                    <!-- about ceo discription -->
                    <div class="ceo-discription-inner">
                        <h3>Muhammad Umar farooq</h3>
                        <h5 class="lato">CEO & Founder</h5>
                        <p>Hardworking and Reliable personality with strong ability in calculus ,programming ,
                            designing, and developing.Offering Teaching , Managment and programing in different
                            languages mentioned below. Highly organized ,self learner, proactive and punctual with
                            team oriented mentality .he had been given an award for best student in Jinnah Grammer School for my extra ordinary performance in acadmics
                        </p>
                        <blockquote>
                             "He who is not courageous enough to take risks will accomplish nothing in life.”
                        </blockquote>
                        <br>
                        “Live life to the fullest and focus on the positive.<br><br><br>
                    </div>
                    <!-- End of about ceo discription -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of about ceo -->

    <!-- our team -->
    <section class="pb-30">
        <div class="container">
            <div class="row">
                <div class="col">
                <!-- section title -->
                    <div class="section-title-wrap type2">
                        <div class="section-title">
                            <h2>Team Members<span>strength</span></h2>
                        </div>
                    </div>
                <!-- End of section title -->
                </div>
            </div>
            <div class="row">
                <!-- single team member -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team-member text-center">
                        <!-- member image -->
                        <div class="team-member-image">
                            <img src="static/assets/img/masab.jpg" data-rjs="2" alt="">
                        </div>
                        <!-- End of member image -->

                        <!-- member details -->
                        <div class="team-member-details">
                            <!-- member social area -->
                            <div class="member-social-area">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--End of member social area -->
                            <div class="about-member-body">
                                <h4>Masab Ahmed</h4>
                                <p>Frontend developer</p>
                            </div>
                        </div>
                        <!-- End of member details -->
                    </div>
                </div>
                <!-- End of single team member -->

                <!-- single team member -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team-member text-center">
                        <!-- member image -->
                        <div class="team-member-image">
                            <img src="static/assets/img/ans.jpg" data-rjs="2" alt="">
                        </div>
                        <!-- End of member image -->

                        <!-- member details -->
                        <div class="team-member-details">
                            <!-- member social area -->
                            <div class="member-social-area">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--End of member social area -->
                            <div class="about-member-body">
                                <h4>Ans naeem</h4>
                                <p>Content writer</p>
                            </div>
                        </div>
                        <!-- End of member details -->
                    </div>
                </div>
                <!-- End of single team member -->

                <!-- single team member -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team-member text-center">
                        <!-- member image -->
                        <div class="team-member-image">
                            <img src="static/assets/img/adil.jpg" data-rjs="2" alt="">
                        </div>
                        <!-- End of member image -->

                        <!-- member details -->
                        <div class="team-member-details">
                            <!-- member social area -->
                            <div class="member-social-area">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--End of member social area -->
                            <div class="about-member-body">
                                <h4>Adil Asif</h4>
                                <p>Backend developer</p>
                            </div>
                        </div>
                        <!-- End of member details -->
                    </div>
                </div>
                <!-- End of single team member -->

                <!-- single team member -->
                <div class="col-md-6 col-lg-3">
                    <div class="single-team-member text-center">
                        <!-- member image -->
                        <div class="team-member-image">
                            <img src="static/assets/img/muzaib.jpg" data-rjs="2" alt="">
                        </div>
                        <!-- End of member image -->

                        <!-- member details -->
                        <div class="team-member-details">
                            <!-- member social area -->
                            <div class="member-social-area">
                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!--End of member social area -->
                            <div class="about-member-body">
                                <h4>Muzaib Bhatti</h4>
                                <p>SQA engineer</p>
                            </div>
                        </div>
                        <!-- End of member details -->
                    </div>
                </div>
                <!-- End of single team member -->
            </div>
        </div>
    </section>
    <!-- End of our team -->

    <!-- testimonial -->
    <section class="pt-100 pb-100 secondary-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                 <!-- section title -->
                    <div class="section-title-wrap type2">
                        <div class="section-title">
                            <h2>Feedback<span>Review</span></h2>
                        </div>
                    </div>
                    <!-- End of section title -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <!-- testimonial carousel -->
                    <div class="testimonial-carousel-wrap type2">
                        <div class="owl-carousel testimonial-carousel">
                            <!-- single testimoinal -->
                            <div class="single-testimonial type2">
                                <div class="author-name">
                                    <h4>Talha aslam</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="author-comment">
                                    <p>Communication is of the essence in eCommerce. You want to keep your customer’s in the know about everything from the origin of your product right down to the day when their purchase will arrive. Communication can solve so many of the misunderstandings which develop later on and can save you a
                                        headache as well as potentially receiving negative feedback/ratings.</p>
                                </div>
                            </div>
                            <!-- End of single testimoinal -->

                            <!-- single testimoinal -->
                            <div class="single-testimonial type2">
                                <div class="author-name">
                                    <h4>Hamza Ashraf</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="author-comment">
                                    <p> “If you’re competitor-focused, you have to wait until there is a competitor doing something. Being customer-focused allows you to be more pioneering.”<br>
                                        "Customer service shouldn’t just be a department, it should be the entire company”</p>
                                </div>
                            </div>
                            <!-- End of single testimoinal -->

                            <!-- single testimoinal -->
                            <div class="single-testimonial type2">
                                <div class="author-name">
                                    <h4>Gagner Wanetta</h4>
                                    <p>Customer</p>
                                </div>
                                <div class="author-comment">
                                    <p>“ There are many variations of passages of available the majority<br>
                                        have suffered alteration in some form, by injected humour, or randomised words slightly believable there themselves simplicity no of isn't anything. ”</p>
                                </div>
                            </div>
                            <!-- End of single testimoinal -->
                        </div>
                        <div class="quote-icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                    </div>
                    <!-- End of testimonial carousel -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of testimonial -->

    <!-- Counter up area -->
    <section class="pt-90 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- single counter -->
                    <div class="single-counter d-flex">
                        <div class="counter-number">
                            <h2 class="h1 counter">83</h2>
                        </div>
                        <div class="counter-details">
                            <h5>Best Brands</h5>
                        </div>
                    </div>
                    <!-- End of single counter -->
                </div>
                <div class="col-md-3">
                    <!-- single counter -->
                    <div class="single-counter d-flex">
                        <div class="counter-number">
                            <h2 class="h1 counter">24</h2>
                        </div>
                        <div class="counter-details">
                            <h5>Total cATAGORIES</h5>
                        </div>
                    </div>
                    <!-- End of single counter -->
                </div>
                <div class="col-md-3">
                    <!-- single counter -->
                    <div class="single-counter d-flex">
                        <div class="counter-number">
                            <h2 class="h1 counter">83</h2>
                        </div>
                        <div class="counter-details">
                            <h5>Quality Products</h5>
                        </div>
                    </div>
                    <!-- End of single counter -->
                </div>
                <div class="col-md-3">
                    <!-- single counter -->
                    <div class="single-counter d-flex">
                        <div class="counter-number">
                            <h2 class="h1 counter">8</h2>
                            <span class="h1">k</span>
                        </div>
                        <div class="counter-details">
                            <h5>Setisfied Customers</h5>
                        </div>
                    </div>
                    <!-- End of single counter -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of Counter up area -->

{% endblock %}