{% extends "header.html" %}
{% block body %}

<!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Admin<span>Profile</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Profile</a></li>
                             <li><a href="#">Manage</a></li>
                            <li class="active"><a href="#">Admin-Panel</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <div class="container">
            <div class="category-div">
                <div class="cat-head">
                    <h2 class="cat-name">Attire</h2>
                    <a href="#"  class="btn btn-fill-type"> Add Sub Category</a>
                </div>

                <div class="cat-body">
                    <div class="cat-link-div">
                        <p class="cat-links">Category 1</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 2</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 3</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 4</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>


                </div>
            </div>

            <div class="category-div">
                <div class="cat-head">
                    <h2 class="cat-name">Electronics</h2>
                    <a href="#" class="btn btn-fill-type"> Add Sub Category</a>
                </div>

                <div class="cat-body">
                    <div class="cat-link-div">
                        <p class="cat-links">Category 1</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 2</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 3</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 4</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>


                </div>

            </div>

            <div class="category-div">
                <div class="cat-head">
                    <h2 class="cat-name">Accessories</h2>
                    <a href="#" class="btn btn-fill-type"> Add Sub Category</a>
                </div>

                <div class="cat-body">
                    <div class="cat-link-div">
                        <p class="cat-links">Category 1</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 2</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 3</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>

                    <div class="cat-link-div">
                        <p class="cat-links">Category 4</p>
                        <div class="anchor-div">
                            <a href=""><img src="static/assets/img/open-eye.png" alt="" class="sub-cat-icon open-eye"></a>
                            <a href=""><img src="static/assets/img/dustbin.png" alt="" class="sub-cat-icon dustbin"></a>
                        </div>
                    </div>


                </div>
            </div>


    </div>



{% endblock %}