{% extends "header.html" %}
{% block body %}

    <!-- page title -->
    <section class="page-title-inner" data-bg-img="static/assets/img/page-titlebg.png">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Journal<span>Magazine</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">Blog Details</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- blog details inner -->
    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <!-- post main content -->
                            <div class="post-main-content text-center">
                                <!-- post mata -->
                                <div class="post-mata">
                                    <ul class="list-unstyled mb-0">
                                        <li>
                                            On.<a>15 Aug 2022</a>
                                        </li>
                                        <li>
                                            By.<a>Ans Naeem</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End of post mata -->

                                <!-- post main heading-->
                                <div class="post-heading">
                                    <h2>“Find what you need in seconds,Shop with us because we’re worth it”<br>“You deserve the best.”</h2>
                                </div>
                                <!-- post main heading-->

                                <!-- post image -->
                                <div class="post-main-image">
                                    <img src="static/assets/img/main-ecom.JPG" data-rjs="2" alt="">
                                    <div class="image-caption"><p>Photography By: <a>Walton de Singer</a></p></div>
                                </div>
                                <!--End of  post image -->
                            </div>
                            <!-- End of post main content -->
                        </div>
                        <div class="col-lg-8">
                            <!--single post content body -->
                            <div class="post-details-body">
                                <div class="single-post-content">
                                    <h5>2021 article translated  by crazy lister</h5>
                                    <p>People who are successful in business especially in eCommerce need a certain kind of drive. But for people who have been selling online for years and are jaded or for people who are just starting out, the key word is claiming or reclaiming your MOJO. For those of you who do not know what mojo is,  according to the Urban Dictionary, it means ‘..personal confidence and charisma..’ Mojo also means magic or charm and that is what success in eCommerce takes, but in order to exude confidence and charisma and give your products a magical allure and charm, you need motivation! A businessman without motivation is like a king without a nation, a flowerless bouquet, a computer with no internet. So sit back, grab a cup of coffee and read this collection of motivational quotes I put together for you. They were said
                                        and written by the world’s most successful eCommerce powerhouses and businessmen and women of today.</p>
                                    <blockquote>
                                        “Chase the vision, not the money; the money will end up following you.”
                                    </blockquote>
                                    <p>This is a very true statement and ‘social proof’ is key to successfully selling products online. Peer to peer reviews are a major deciding factor on whether or not a person will make a purchase. Use customer testimonials on your own retail website as well as in quotes on eCommerce websites.</p>
                                </div>
                            </div>
                            <!-- End of single post content body -->
                        </div>
                        <div class="col-lg-12">
                            <!-- share abd tag border -->
                            <div class="share-and-tag">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!--single post tag and share -->
                                        <div class="single-post-tag-share">
                                            <!-- single post tags -->
                                            <div class="single-blog-tag">
                                                <span>tags:</span>
                                                <a href="#">"ecommerce</a>,
                                                <a href="#">Beauty</a>,
                                                <a href="#">grocery</a>,
                                                <a href="#">Fashion</a>
                                            </div>
                                            <!-- single post tags -->

                                            <!-- single blog share on -->
                                            <div class="single-blog-share">
                                                <ul class="list-unstyled mb-0">
                                                    <li>
                                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--End of single blog share on -->
                                        </div>
                                        <!--End of single post tag and share -->
                                    </div>
                                </div>
                            </div>
                            <!-- share abd tag border -->
                        </div>
                        <div class="col-lg-10">
                            <!-- related post -->
                            <div class="single-related-post-inner">
                                <div class="related-post-head">
                                    <h3>Related Post</h3>
                                </div>
                                <!-- related post wraper -->
                                <div class="related-post-wraper">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- single blog wraper -->
                                            <div class="single-blog-wrap type2">
                                                <!-- post image -->
                                                <div class="single-blog-image hover-effect">
                                                    <a><img src="static/assets/img/blog/list-1.png" data-rjs="2" alt=""></a>
                                                </div>
                                                <!--End of  post image -->

                                                <!-- single blog details -->
                                                <div class="single-blog-details post-content">
                                                    <div class="post-info">
                                                        <span>by.</span><a href="#">Muzaib Bhatti</a>
                                                    </div>
                                                    <div class="post-body">
                                                        <h4><a>well and foremost ecommerce tool</a></h4>
                                                        <p>Email your best customers, talk through how they have used your product or service to improve their business, and then share the case study on your blog.
                                                            You’ll be amazed by how a single case study can inspire and attract tons of new customers.</p>
                                                            <a  href='{{url_for("blog_details")}}' class="btn btn-line">Continue Reading...</a>
                                                    </div>
                                                </div>
                                                <!--End of single blog details -->
                                            </div>
                                            <!-- End of single blog wraper -->
                                        </div>

                                        <div class="col-lg-6">
                                            <!-- single blog wraper -->
                                            <div class="single-blog-wrap type2">
                                                <!-- post image -->
                                                <div class="single-blog-image hover-effect">
                                                    <a ><img src="static/assets/img/girl-1.jpg" data-rjs="2" alt=""></a>
                                                </div>
                                                <!--End of  post image -->

                                                <!-- single blog details -->
                                                <div class="single-blog-details post-content">
                                                    <div class="post-info">
                                                        <span>by.</span><a>Adil Asif</a>
                                                    </div>
                                                    <div class="post-body">
                                                        <h4><a>Approch and systemtic plateform with adverse quality and multiple modern facilitation whih provide the best experience</a></h4>
                                                        <p>I must say that very good hazel web app to inhance the quality of online shooping which include grocery and electronic appliances<br> dynamic website with very fast and responsive,good graphical user interface.</p>
                                                        <a   href='{{url_for("blog_details")}}' class="btn btn-line">Continue Reading...</a>
                                                    </div>
                                                </div>
                                                <!--End of single blog details -->
                                            </div>
                                            <!-- End of single blog wraper -->
                                        </div>
                                    </div>
                                </div>
                                <!-- related post wraper -->
                            </div>
                            <!--End of related post -->
                        </div>
                        <div class="col-lg-12">

                            <!-- comment form -->
                            <div class="comment-form-wrap">
                                <h4>Leave your thought</h4>

                                <div class="row">
                                    <div class="col-lg-9 offset-lg-1">
                                        <!-- commnet respond -->
                                        <div class="comment-respond contact-form parsley-validate">
                                            <form action="/email" method="post">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="name" class="theme-input-style" placeholder="Your Name" required>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="email" name="email" class="theme-input-style" placeholder="Your email" required>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text" name="subject" class="theme-input-style" placeholder="Subject" required>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <textarea name="message" placeholder="Message here" class="theme-input-style"></textarea>
                                                        <div class="comment-form-btn">
                                                            <button class="btn">Send message</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- commnet respond -->
                                    </div>
                                </div>
                            </div>
                            <!-- End of comment form -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Ennd of blog details inner -->

{% endblock %}