{% extends "header.html" %}
{% block body %}


    <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Cart List<span>Shopping</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">Cart List</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

{% if cart|length > 0 %}
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <!-- woocommerce -->
                    <div class="woocommerce">
                        <form action="#" method="POST" class="woocommerce-cart-form">
                            <!-- cart product wrap -->
                            <div class="cart-product-wrap">
                                <!-- cart table -->
                                <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                    <tbody>
                                        <!-- first table row -->
                                        <tr>
                                            <td class="product-name">
                                                Product name
                                            </td>
                                            <td class="product-quantity">
                                                Quantity
                                            </td>
                                            <td class="product-quantity">
                                                Price/Unit
                                            </td>
                                            <td class="product-subtotal">
                                                Total Price
                                            </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <!-- End of first table row -->

                                        {% for x in cart %}
                                            <!-- tr -->
                                            <tr class="woocommerce-cart-form__cart-item cart_item">
                                                <!-- product thumbnail -->
                                                <td class="product-thumbnail">
                                                    <div class="product-details">
                                                        <a href='{{url_for("show_details", id=x.id)}}' class="porduct-image-wrap">
                                                            <img src='{{x.img}}' alt="">
                                                        </a>
                                                        <a href='{{url_for("show_details", id=x.id)}}'>{{x.name}}</a>
                                                    </div>
                                                </td>
                                                <!-- End of product thumbnail -->

                                                <!-- product quantity -->
                                                <td>
                                                    <div class="product-quantity">
                                                        <span class="minus"><img src="static/assets/img/icons/minus.svg" class="svg" alt=""></span>
                                                        <input type="text" value='{{x.quantity}}' class="product-quantity-list">
                                                        <span class="plus"><img src="static/assets/img/icons/plus.svg" class="svg" alt=""></span>
                                                    </div>
                                                </td>
                                                <!--End of product quantity -->

                                                <td>${{x.price}}</td>
                                                <td><span class="totalprice">${{x.total}}</span></td>

                                                <!-- product remove -->
                                                <td class="product-remove">
                                                    <div class="remover-field">
                                                        <a href='{{url_for("remove_cart", id=x.id)}}'><img src="static/assets/img/icons/remove.svg" class='svg' alt=""></a>
                                                    </div>
                                                </td>
                                                <!--End of  product remove -->
                                            </tr>
                                            <!--End of tr -->
                                        {% endfor %}

                                    </tbody>
                                </table>
                                <!--End of cart table -->

                                <div class="cart-bottom-wrap">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-5">
                                            <div class="btn-cupon-wrap">
                                                <!-- cart shoping button  -->
                                                <div class="cart-shoping-button">
                                                    <a href="#" class="update-cart-btn btn btn-fill-type"><img src="static/assets/img/icons/update.svg" class="svg" alt="">Update Cart</a>
                                                    <a href='{{url_for("all_products")}}' class="update-cart-btn btn btn-fill-type">Continue Shopping</a>
                                                </div>
                                                <!-- End of cart shoping button  -->

                                                <!-- coupon -->
                                                <div class="coupon">
                                                    <input type="text" class="theme-input-style" placeholder="Coupon Code" required>
                                                    <button type="submit" class="btn">Apply Coupon</button>
                                                </div>
                                                <!-- End of coupon -->
                                            </div>
                                        </div>
                                        <div class="offset-lg-2 col-lg-4 col-md-12">
                                            <!-- shop total wrap -->
                                            <div class="shop-total-wrap">
                                                <table class="shop_table shop_table_responsive">
                                                    <tbody>
                                                        <tr class="cart-subtotal">
                                                            <th>
                                                                Subtotal
                                                            </th>
                                                            <td>
                                                                ${{cart_total}}
                                                            </td>
                                                        </tr>
                                                        <tr class="order-total">
                                                            <th>
                                                                Total
                                                            </th>
                                                            <td>
                                                                <span class="woocommerce-Price-amount amount">${{cart_total}}</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="wc-proceed-to-checkout">
                                                    <a href='{{url_for("checkout")}}' class="btn btn-fill-type" >Proceed To Checkout</a>
                                                </div>
                                            </div>
                                            <!-- End of shop total wrap -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- cart product wrap -->
                        </form>
                    </div>
                    <!-- woocommerce -->
                </div>
            </div>
        </div>
    </section>
{% endif %}

{% endblock %}