{% extends "header.html" %}
{% block body %}
   <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Categories<span>Shopping</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href=''>Category</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- category inner area -->
    <section class="pt-100 pb-30">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- single category -->
                    <div class="single-category-wrap">
                        <div class="row caregoris-animation">
                            <div class="col-md-1 col-sm-12">
                                <!-- single categorey title -->
                                <div class="single-catagory-title">
                                    <div class="catagory-title-wrap">
                                        <h2>New Arrival<span>Collections</span> </h2>
                                    </div>
                                </div>
                                <!-- single categorey title -->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- caregory image -->
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-l-1.jpg" data-rjs="2" alt="">
                                    <a href="shop-2col.html" class="btn">Shop Now</a>
                                </div>
                                <!--End of caregory image -->
                            </div>
                            <div class="col-md-3 col-sm-8 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-m-1.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-s-1.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of single category -->

                    <!-- single category -->
                    <div class="single-category-wrap">
                        <div class="row">
                            <div class="col-md-1 col-sm-12">
                                <!-- single categorey title -->
                                <div class="single-catagory-title">
                                    <div class="catagory-title-wrap">
                                            <h2>Techonology <span>Collections</span> </h2>
                                    </div>
                                </div>
                                <!-- single categorey title -->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- caregory image -->
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-l-2.jpg" data-rjs="2" alt="">
                                    <a href="shop-2col.html" class="btn">Shop Now</a>
                                </div>
                                <!--End of caregory image -->
                            </div>
                            <div class="col-md-3 col-sm-8 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-m-2.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-s-2.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of single category -->

                    <!-- single category -->
                    <div class="single-category-wrap">
                        <div class="row">
                            <div class="col-md-1 col-sm-12">
                                <!-- single categorey title -->
                                <div class="single-catagory-title">
                                    <div class="catagory-title-wrap">
                                            <h2>Trendy fashion <span>Collections</span> </h2>
                                    </div>
                                </div>
                                <!-- single categorey title -->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- caregory image -->
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-l-3.jpg" data-rjs="2" alt="">
                                    <a href="shop-2col.html" class="btn">Shop Now</a>
                                </div>
                                <!--End of caregory image -->
                            </div>
                            <div class="col-md-3 col-sm-8 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-m-3.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-s-3.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of single category -->

                    <!-- single category -->
                    <div class="single-category-wrap">
                        <div class="row">
                            <div class="col-md-1 col-sm-12">
                                <!-- single categorey title -->
                                <div class="single-catagory-title">
                                    <div class="catagory-title-wrap">
                                            <h2>Decoration <span>Collections</span> </h2>
                                    </div>
                                </div>
                                <!-- single categorey title -->
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <!-- caregory image -->
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-l-4.jpg" data-rjs="2" alt="">
                                    <a href="shop-2col.html" class="btn">Shop Now</a>
                                </div>
                                <!--End of caregory image -->
                            </div>
                            <div class="col-md-3 col-sm-8 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-m-4.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 d-none d-md-block">
                                <div class="category-image hover-effect">
                                    <img src="static/assets/img/category/catagory-s-4.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of single category -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of category inner area -->
{% endblock %}