{% extends "header.html" %}
{% block body %}
    <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">{{main}}<span>Shopping</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href='{{url_for("main_category", value=main)}}'>{{main}}</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- category inner area -->
    <section class="pt-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <!-- single categorey title -->
                            <div class="single-catagory-title type2">
                                <div class="catagory-title-wrap">
                                    <h2>Collection</h2>
                                </div>
                            </div>
                            <!-- single categorey title -->
                        </div>
                    </div>
                    {% for x in categories %}
                        <!-- single category -->
                        <div class="single-category-wrap type2">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <!-- caregory image -->
                                    <div class="category-image hover-effect">
                                        <img src="{{ x.address }}" data-rjs="2" alt="">
                                    </div>
                                    <!--End of caregory image -->
                                </div>
                                <div class="col-md-6">
                                    <!-- single sub category -->
                                    <div class="single-sub-category">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12">
                                                <div class="category-image hover-effect">
                                                    <img src="{{ x.address }}" data-rjs="2" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12">
                                                <div class="category-image hover-effect">
                                                    <img src="{{ x.address }}" data-rjs="2" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <!--single catagory content -->
                                                <div class="single-category-content">
                                                    <h2> <a href='{{url_for("show_category_products", value=x.name)}}'>{{x.name}}</a> </h2>
                                                    <a href='{{url_for("show_category_products", value=x.name)}}' class="btn">Shop Now</a>
                                                </div>
                                                <!--End of single catagory content -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single sub category -->
                                </div>
                            </div>
                        </div>
                        <!-- End of single category -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End of category inner area -->
{% endblock %}