{% extends "header.html" %}
{% block body %}
    {% if cart|length > 0 %}
         <!-- page title -->
        <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- page title inner -->
                        <div class="page-title-wrap">
                            <div class="page-title-heading"><h1 class="h2">CheckOut<span>Payment</span></h1></div>
                            <ul class="list-unstyled mb-0">
                                <li><a href="index.html">home</a></li>
                                <li><a href="#">Cart List</a></li>
                                <li class="active"><a href="{{url_for('reload')}}">Check Out</a></li>
                            </ul>
                        </div>
                        <!-- End of page title inner -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End of page title -->

        <!-- check out wrap -->
        <section class=" pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- billing details wrap -->
                        <div class="billing-details-wrap">
                            <form action='{{url_for("place_order")}}' method="POST">
                                <div class="row justify-content-center">
                                    <div class="col-lg-6">
                                        <!-- billing details form-->
                                        <div class="billing-details">
                                            <div class="billing-heading">
                                                <h3>Billing Details</h3>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- first name -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" name="first_name" class="theme-input-style" placeholder="First Name" required>
                                                    </span>
                                                    <!--End of first name -->
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- last name -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" name="last_name" class="theme-input-style" placeholder="Last Name" required>
                                                    </span>
                                                    <!--End of last name -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- company name -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" class="theme-input-style" placeholder="Company name" required>
                                                    </span>
                                                    <!-- End of company name -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Phone No -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="number" maxlength="20"  name="phone_no" class="theme-input-style" placeholder="Phone No" required>
                                                    </span>
                                                    <!-- End of Phone No -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Email Address -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="email" maxlength="50" name="email" class="theme-input-style" placeholder="Email Address" required>
                                                    </span>
                                                    <!-- End of Email Address -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- Country -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" name="country" class="theme-input-style" placeholder="Country" required>
                                                    </span>
                                                    <!-- End of Country -->
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Town / City -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" name="city" class="theme-input-style" placeholder="Town / City" required>
                                                    </span>
                                                    <!-- End of Town / City -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Street Address -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="100"  name="address1" class="theme-input-style" placeholder="Street Address" required>
                                                        <input type="text" maxlength="100" name="address2" value="" class="theme-input-style" placeholder="Street Address(optional)">
                                                    </span>
                                                    <!-- End of Street Address -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- District -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="50" name="district" class="theme-input-style" placeholder="District" required>
                                                    </span>
                                                    <!-- End of District -->
                                                </div>
                                                <div class="col-md-6">
                                                    <!-- Postcode / ZIP -->
                                                    <span class="woocommerce-input-wrapper">
                                                        <input type="text" maxlength="20"  name="zip" class="theme-input-style" placeholder="Postcode / ZIP" required>
                                                    </span>
                                                    <!-- End of Postcode / ZIP -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End of billing details form-->
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- your order -->
                                        <div class="checkout-review-order-wrap">
                                            <!-- checkout-review-order -->
                                            <div class="woocommerce-checkout-review-order">
                                                <div class="review-order-header">
                                                    <h3>Your order</h3>
                                                </div>
                                                <table class="review-order-table">
                                                    <tbody>
                                                        <tr>
                                                            <th>Product name</th>
                                                            <th>Total</th>
                                                        </tr>
                                                        {% for x in cart %}
                                                            <tr>
                                                                <td>{{x.name}} <span>{{x.price}} X {{x.quantity}}</span></td>
                                                                <td>${{x.total}}</td>
                                                            </tr>
                                                        {% endfor %}
                                                        <tr>
                                                            <td>Sub Total</td>
                                                            <td>${{cart_total}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- checkout-review-order -->

                                            <!-- check Shipping warp -->
                                            <div class="check-shipping-wrap">
                                                <div class="check-shipping-heading">
                                                    <h5>Shipping</h5>
                                                </div>
                                                <table class="check-shipping-table">
                                                    <tbody>
                                                        <tr>
                                                           <td><label><input class="" type="radio" checked name='shipping-type'>
                                                            Flat rate: $10.00</label></td>
                                                            <td>$10</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total</td>
                                                            <td>${{order_total}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- End of check Shipping warp -->

                                            <!-- payment system -->
                                            <div class="payment-system-wrap">
                                                <div class="payment-system-heading">
                                                    <h5>Payment System</h5>
                                                </div>
                                                <table class="payment-system-table">
                                                    <tbody>
                                                        <tr>
                                                            <td><label><input class="" type="radio" name="payment-type" data-parsley-multiple="payment-type" required>Credit Card </label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!--End of payment system -->
                                        </div>
                                        <!--End of your order -->
                                    </div>
                                    <div class="col-md-7">
                                        <!-- woocommerce-terms-and-conditions-wrapper -->
                                        <div class="terms-and-conditions-wrapper text-center">
                                            <p>Your personal data will be used to process your order,  support your<br> experience throughout this website, and for other purposes described in our <a href='{{url_for("about")}}'>privacy policy</a>.</p>
                                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                                                <input type="checkbox" class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox" required>
                                                <span>I agree to the <a href='url_for{{("about")}}'>terms and conditions</a></span>
                                            </label>
                                            <button type="submit" class="billing-submit-button btn btn-fill-type">Place Order</button>
                                        </div>
                                        <!-- End of woocommerce-terms-and-conditions-wrapper -->
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End of billing details wrap -->
                    </div>
                </div>
            </div>
        </section>
        <!--End of check out wrap -->
    {% endif %}
{% endblock %}