{% extends "header.html" %}
{% block body %}
     <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Collections<span>Lookbook</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">Category</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="swiper-container gallery-top">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection15.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="shop-2col-withbar.html">Trendy Fashion</a></h2>
                                                <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                                <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection16.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="shop-2col-withbar.html">
                                                    Fashion Accessories</a></h2>
                                                <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                                <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection17.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                    <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="shop-2col-withbar.html">
                                                    Fashionable Shoes</a></h2>
                                                <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                                <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection18.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="shop-2col-withbar.html">Home Decoration</a></h2>
                                                <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                            <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection19.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="#">Trendy Fashion</a></h2>
                                                <a href="#" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                            <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection20.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="#">Fashionable Shoes</a></h2>
                                                <a href="#" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                            <div class="swiper-slide">
                            <!-- single collection wrap -->
                                <div class="single-collection-wrap type4">
                                    <div class="row align-items-center">
                                        <div class="col-md-9">
                                            <div class="collection-image">
                                                <img src="static/assets/img/collection/collection21.jpg" data-rjs='2' alt="">
                                                <!-- share product -->
                                                <div class="share-social-area">
                                                    <ul class="list-unstyled mb-0">
                                                        <li><a href="#"><i class="fa fa-facebook"></i> <span>Facebook</span></a></li>
                                                        <li><a href="#"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                                        <li><a href="#"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>
                                                        <li><a href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                                    </ul>
                                                </div>
                                                <!-- End of share product -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="image-caption">
                                                <h2><a href="#">Trendy Fashion</a></h2>
                                                <a href="#" class="btn btn-line">Browse All Collections</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of single collection wrap -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection15.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
                </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection16.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection17.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection18.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection19.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection20.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
              <div class="swiper-slide">
                  <!-- collection image -->
                  <div class="collection-image">
                      <img src="static/assets/img/collection/collection21.jpg" data-rjs='2' alt="">
                  </div>
                  <!-- End of collection image -->
              </div>
            </div>
          </div>
    </section>
{% endblock %}