{% extends "header.html" %}
{% block body %}
    <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Collection<span>LookBook</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href="#">Shop</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- collection inner area -->
    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- single collection wrap -->
                            <div class="single-collection-wrap">
                                <div class="collection-image">
                                    <img src="static/assets/img/collection/collection1.jpg" data-rjs='2' alt="">
                                    <div class="image-caption">
                                        <h3><a href="shop-2col-withbar.html">Trendy Fashion</a></h3>
                                        <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of single collection wrap -->
                        </div>

                        <div class="col-md-9 offset-md-3">
                            <!-- single collection wrap -->
                            <div class="single-collection-wrap left-content">
                                <div class="collection-image">
                                    <img src="static/assets/img/collection/collection2.jpg" data-rjs='2' alt="">
                                    <div class="image-caption">
                                        <h3><a href="shop-2col-withbar.html">Fashion Accessories</a></h3>
                                        <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of single collection wrap -->
                        </div>

                        <div class="col-md-9">
                            <!-- single collection wrap -->
                            <div class="single-collection-wrap">
                                <div class="collection-image">
                                    <img src="static/assets/img/collection/collection3.jpg" data-rjs='2' alt="">
                                    <div class="image-caption">
                                        <h3><a href="shop-2col-withbar.html">Fashionable Shoes</a></h3>
                                        <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of single collection wrap -->
                        </div>

                        <div class="col-md-9 offset-md-3">
                            <!-- single collection wrap -->
                            <div class="single-collection-wrap left-content">
                                <div class="collection-image">
                                    <img src="static/assets/img/collection/collection4.jpg" data-rjs='2' alt="">
                                    <div class="image-caption">
                                        <h3><a href="shop-2col-withbar.html">Home Decoration</a></h3>
                                        <a href="shop-2col-withbar.html" class="btn btn-line">Browse All Collections</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of single collection wrap -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- collection inner area -->
{% endblock %}