{% extends "header.html" %}
{% block body %}

   <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">{{item.name}}<span>Details</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">Products</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

 <!-- product details wrapper -->
    <section class="pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <!-- Start shop product slider -->
                    <div class="shop-product-slider-wrap">
                        <!-- Start shop slider top side -->
                         <div class="product-gallery">
                             <img id="zoom_01" class='' src='{{item.img}}' data-zoom-image='{{item.img}}' alt=""/>
                        </div>
                         <!-- End of shop slider top side -->
                    </div>
                    <!-- End of shop product slider -->
                </div>

                <div class="col-md-6">
                    <!-- product details inner -->
                    <div class="product-details-inner">
                        <!-- product info -->
                        <div class="product-info">

                            <!-- product title -->
                            <div class="product-title">
                                <h2><a href="#">{{ item.name }}</a></h2>
                            </div>
                            <!-- end of product title -->

                             <div class="product-description">
                                 <p>{{item.details}}</p>
                             </div>

                            <!-- list product group -->
                            <div class="list-product-group">
                                <ul class="mb-0 list-unstyled">
                                    <li class="quantity-group group">
                                        <span class="list-heading">quantity:</span>
                                        <div class="product-quantity">
                                            <span class="minus"><img src="static/assets/img/icons/minus.svg" class="svg" alt=""></span>
                                            <input type="text" value="0" class="product-quantity-list product-size">
                                            <span class="plus"><img src="static/assets/img/icons/plus.svg" class="svg" alt=""></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of list product group -->

                            <!-- product details btns -->
                            <div class="product-details-btns">
                                <div class="addto-bag-btn">
                                    <a href='{{url_for("add_cart", id=item.id, quantity=1)}}' class="btn btn-fill-type">
                                        <span><img src="static/assets/img/icons/add-bag.svg" alt="" class="svg"></span><span class="d-none d-lg-block mr-0">Add To Cart</span>
                                    </a>
                                </div>
                                 <div class="wish-btn">
                                    <a href='{{url_for("add_wishlist", id=item.id)}}' class="btn btn-fill-type">
                                        <span class=""><img src="static/assets/img/icons/wishlist.svg" alt="" class="svg"></span><span class="d-none d-lg-block mr-0">Add To Wishlist</span>
                                    </a>
                                </div>
                            </div>
                            <!-- product details btns -->

                            <!-- product mata -->
                            <div class="product_meta item-product-meta-info">
                                <span class="sku_wrapper">
                                    <label>
                                        {{ item.brand }}:
                                        <span>N/A</span>
                                    </label>
                                </span>
                                <span class="posted_in">
                                    <span class="meta-item-list">
                                        <a >Discount: {{item.discount}} %</a>,
                                    </span>
                                </span>
                            </div>
                            <!-- End of product mata -->

                            <!-- product share -->
                            <div class="single-product-share">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>

                            </div>
                            <!-- End of product share -->
                        </div>
                         <!-- End of product info -->
                    </div>
                    <!-- End of product details inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of product details wrapper -->
{% endblock %}