{% extends "header.html" %}
{% block body %}
   <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">questions<span>FAQ</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li class="active"><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- product details wrapper -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                      <!-- faq inner area -->
                        <div class="faq-content-wrap type2">
                            <ul class="faq-list mb-0 list-unstyled">
                                <li>
                                    <span class="roboto">
                                        01
                                    </span>
                                    <h5 class="lato">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built gay party world.</h5>
                                    <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                </li>
                                <li>
                                    <span class="roboto">
                                        02
                                    </span>
                                    <h5 class="lato">As am hastily invited settled at limited civilly fortune me really spring in extent?</h5>
                                    <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved raptures.</p>
                                </li>
                                <li>
                                    <span class="roboto">
                                        03
                                    </span>
                                    <h5 class="lato">Do believing oh disposing to supported allowance we?</h5>
                                    <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                </li>
                                <li>
                                    <span class="roboto">
                                        04
                                    </span>
                                    <h5 class="lato">Among state cease how and sight since shall disposing to supported allowance?</h5>
                                    <p>Talent she for lively eat led sister. Entrance strongly packages she out rendered get quitting denoting led. Dwelling confined improved it he no doubtful raptures. Several carried through an of up attempt gravity. Situation to be at offending elsewhere distrusts if.</p>
                                </li>
                            </ul>
                        </div>
                        <!-- End of faq inner area -->
                </div>
                <div class="col-lg-3">
                    <aside>
                        <!--Single sidebar widget -->
                        <div class="single-sidebar-widget mb-60">
                            <!-- widget title -->
                            <div class="widget-title">
                                <h4>New Product</h4>
                            </div>
                            <!--End of widget title -->
                            <div class="new-product-item">
                                <ul class="list-unstyled mb-0">
                                    <!-- single new product -->
                                    <li>
                                        <div class="new-product-wrap media">
                                            <div class="new-produt-image">
                                                <img src="static/assets/img/shop/img1.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Girls' Zipper Jumpsuit</a></h5>
                                                <h6>$32</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single new product -->

                                    <!-- single new product -->
                                    <li>
                                        <div class="new-product-wrap media">
                                            <div class="new-produt-image">
                                                <img src="static/assets/img/shop/img2.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Pokemon Kid's Wrist Watch</a></h5>
                                                <h6>$42</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single new product -->

                                    <!-- single new product -->
                                    <li>
                                        <div class="new-product-wrap media">
                                            <div class="new-produt-image">
                                                <img src="static/assets/img/shop/img3.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Stick Lamp Essentials</a></h5>
                                                <h6>$22</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single new product -->
                                </ul>
                            </div>
                        </div>
                        <!--End of Single sidebar widget -->

                        <!--Single sidebar widget -->
                        <div class="single-sidebar-widget mb-60">
                            <!-- widget title -->
                            <div class="widget-title">
                                <h4>Recent Review</h4>
                            </div>
                            <!--End of widget title -->
                            <div class="new-product-item">
                                <ul class="list-unstyled mb-0">
                                    <!-- single recent product -->
                                    <li>
                                        <div class="recent-product-wrap media">
                                            <div class="recent-produt-image">
                                                <img src="static/assets/img/shop/img4.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Leather Mini Backpack</a></h5>
                                                <h6>$32</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single recent product -->

                                    <!-- single recent product -->
                                    <li>
                                        <div class="recent-product-wrap media">
                                            <div class="recent-produt-image">
                                                <img src="static/assets/img/shop/img5.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Double Zip Pouch Clutch</a></h5>
                                                <h6>$42</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single recent product -->

                                    <!-- single recent product -->
                                    <li>
                                        <div class="recent-product-wrap media">
                                            <div class="recent-produt-image">
                                                <img src="static/assets/img/shop/img6.png" alt="">
                                            </div>
                                            <div class="product-img-caption media-body">
                                                <h5><a href="#">Copley Dining Chair</a></h5>
                                                <h6>$22</h6>
                                            </div>
                                        </div>
                                    </li>
                                    <!--End of single recent product -->
                                </ul>
                            </div>
                        </div>
                        <!--End of Single sidebar widget -->

                        <!--Single sidebar widget -->
                        <div class="single-sidebar-widget mb-60">
                            <div class="sider-add-inner shope-add-sidebar" data-bg-img='static/assets/img/shop/shop-add.png'>
                                <div class="sidebar-add-text">
                                    <h2 class="h1">75</h2>
                                    <h3>% off</h3>
                                    <p>For Gents Wear</p>
                                    <a href="#" class="btn btn-line"> Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <!--End of Single sidebar widget -->
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- End of product details wrapper -->
{% endblock %}