{% extends "header.html" %}
{% block body %}
<!-- New Arrival -->
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- section title -->
                <div class="section-title-wrap">
                    <div class="section-title">
                        <h2>New Arrival<span>This Season</span></h2>
                    </div>
                </div>
                <!-- End of section title -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href='detail-product.html'>
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-1.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-1b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Woven Throw Pillow</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$30.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-2.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-2b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Copley Dining Chair</a></h4>
                            </div>
                            <!-- end of product title -->

                            <!-- discount tag -->
                            <div class="product-tag discount-tag">
                                <div class="tag-text">
                                    <span>-20%</span>
                                </div>
                            </div>
                            <!-- End of discount tag -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$24.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-3.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-3b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Flexible Bottom Shoes</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$32</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-4.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-4b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Strap Sandal</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$10</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href='detail-product.html'>
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-1.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-1b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Woven Throw Pillow</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$30.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-2.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-2b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Copley Dining Chair</a></h4>
                            </div>
                            <!-- end of product title -->

                            <!-- discount tag -->
                            <div class="product-tag discount-tag">
                                <div class="tag-text">
                                    <span>-20%</span>
                                </div>
                            </div>
                            <!-- End of discount tag -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$24.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-3.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-3b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Flexible Bottom Shoes</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$32</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-4.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-4b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Strap Sandal</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$10</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href='detail-product.html'>
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-1.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-1b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Woven Throw Pillow</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$30.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-2.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-2b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>

                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Copley Dining Chair</a></h4>
                            </div>
                            <!-- end of product title -->

                            <!-- discount tag -->
                            <div class="product-tag discount-tag">
                                <div class="tag-text">
                                    <span>-20%</span>
                                </div>
                            </div>
                            <!-- End of discount tag -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$24.1</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-3.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-3b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Flexible Bottom Shoes</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$32</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
            <div class="col-sm-6 col-12 col-lg-3">
                <!-- single product -->
                <div class="single-product">
                    <div class="product-item">
                        <div class="product-thumb">
                            <!-- Product Image -->
                            <div class="product-image">
                                <a href="detail-product.html">
                                    <img class='normal-state' data-rjs="2" src="static/assets/img/product/product-4.jpg"
                                         alt="">
                                    <img class='hover-state' data-rjs="2" src="static/assets/img/product/product-4b.jpg"
                                         alt="">
                                </a>
                            </div>
                            <!-- End of Product Image -->

                            <!-- product button -->
                            <div class="product-buttons">
                                <div class="quick-btn">
                                    <div class="quick-icon-btn">
                                        <a href="#" class="quick_view">
                                            <span class="product-icon"><i class="fa fa-eye"
                                                                          aria-hidden="true"></i></span>
                                            <span class="icon-title">Quick View</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="addto-cart-btn">
                                    <div class="addto-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/add-bag.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Add To Cart</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="wishlist-btn">
                                    <div class="wishlist-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/wishlist.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">See Wish List</span>
                                        </a>
                                    </div>

                                </div>
                                <div class="copmare-btn">
                                    <div class="compare-icon-btn">
                                        <a href="#">
                                            <span class="product-icon"><img src="static/assets/img/icons/compare.svg"
                                                                            alt="" class="svg"></span>
                                            <span class="icon-title">Compare</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                            <!-- End of product button -->

                            <!-- product title -->
                            <div class="product-title">
                                <h4><a href="shop-details.html">Women's Strap Sandal</a></h4>
                            </div>
                            <!-- end of product title -->
                        </div>

                        <!-- product info -->
                        <div class="product-info">
                            <div class="product-price"><h5>$10</h5></div>
                            <div class="product-rating">
                                <div class="star-rating">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <!-- End of product info -->
                    </div>
                </div>
                <!-- End of single product -->
            </div>
        </div>
    </div>
</section>
<!-- End of New Arrival -->



{% endblock %}