{% extends "header.html" %}
{% block body %}
    <!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">My Account<span>Profile</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">home</a></li>
                            <li><a href="#">Shop</a></li>
                            <li class="active"><a href="{{url_for('reload')}}">Log In</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

    <!-- logout register wrap -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <!-- login register -->
                    <div class="login-register-wrap text-center main-log-regi">
                        <!-- login register nav -->
                        <div class="login-register-nav">
                            <nav class="nav lr-nav text-center">
                                <a id="nav-login-tab2" data-toggle="tab" href="#login2" class="active">Log In</a>
                                <a id="nav-register-tab2" data-toggle="tab" href="#reg2">Register</a>
                            </nav>
                        </div>
                        <!-- End of login register nav -->

                        <!-- login register content -->
                        <div class="login-register-content tab-content">
                            <div class="tab-pane fade show active" id="login2" role="tabpanel" aria-labelledby="nav-login-tab2">
                                <div class="primary-form parsley-validate">
                                    <form action="/login" method="post">
                                        <!-- loging input -->
                                        <div class="name-input input-field">
                                            <label>
                                                <img src="static/assets/img/icons/account3.svg" class="svg" alt="">
                                            </label>
                                            <input name="username" type="text" placeholder='User name / Email Address' class="theme-input-style" required>
                                        </div>

                                        <div class="password-input input-field">
                                            <label>
                                                <img src="static/assets/img/icons/regi-icon.svg" class="svg" alt="">
                                            </label>
                                            <input name="password" type="password" placeholder='password' class="theme-input-style" required>
                                        </div>
                                        <!-- loging input -->
                                        <button type="submit" class="btn btn-fill-type">log In</button>
                                    </form>
                                    <p>Don’t have an account,<a href=#>register now!</a></p>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="reg2" role="tabpanel" aria-labelledby="nav-register-tab2">
                                <div class="primary-form parsley-validate">
                                    <form action="/register" method="post">
                                        <!-- register input -->
                                        <div class="name-input input-field">
                                            <label>
                                                <img src="static/assets/img/icons/account-icon.svg" class="svg" alt="">
                                            </label>
                                            <input name="username" type="text" placeholder='User name / Email Address' class="theme-input-style" required>
                                        </div>

                                        <div class="email-input input-field">
                                            <label>
                                                <img src="static/assets/img/icons/email-icon.svg" class="svg" alt="">
                                            </label>
                                            <input name="email" type="email" placeholder='email' class="theme-input-style" required>
                                        </div>

                                        <div class="password-input input-field">
                                            <label>
                                                <img src="static/assets/img/icons/regi-icon.svg" class="svg" alt="">
                                            </label>
                                            <input name="password" type="password" placeholder='password' class="theme-input-style" required>
                                        </div>
                                        <!-- register input -->
                                        <button type="submit" class="btn btn-fill-type">Register</button>
                                    </form>
                                    <p>Have an account,<a href="#">Log In now!</a></p>
                                </div>
                            </div>
                        </div>
                        <!-- End of login register content -->
                    </div>
                    <!-- End of login register -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of logout register wrap -->
{% endblock %}