{% extends "header.html" %}
{% block body %}

<!-- page title -->
    <section class="page-title-inner" data-bg-img='static/assets/img/page-titlebg.png'>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- page title inner -->
                    <div class="page-title-wrap">
                        <div class="page-title-heading"><h1 class="h2">Products<span>Admin</span></h1></div>
                        <ul class="list-unstyled mb-0">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Profile</a></li>
                             <li><a href="#">Manage</a></li>
                            <li class="active"><a href="#">Products</a></li>
                        </ul>
                    </div>
                    <!-- End of page title inner -->
                </div>
            </div>
        </div>
    </section>
    <!-- End of page title -->

{% endblock %}